body { 
  font-family: courier, monospace;
  font: 14px;

  background-color: rgba(0, 0, 0, 0.836);
  color: rgba(245, 245, 245, 0.801);
}

a {
	color: #0bc;
	text-decoration: none;
  z-index: 100;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


/* Loading section */
#loading {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.5em;
  font-size: 2em;
  color: #fff;
}

#loading.loaded {
  display: none;
}

#info {
  position: absolute; 
  bottom: 0; 
}